@charset "utf-8";
* {margin: 0px;	padding: 0px;}
body {font-family:"微软雅黑";  font-size: 80%; line-height: 180%; background:#000 url(../images/bg/bodybg.jpg) repeat-x; }
.clear {font-size: 0px;	clear: both;line-height: 0px; height: 1px;}
.clearfix:after {content: "."; 	display: block;  height: 0;	clear: both; visibility: hidden;}
.clearfix {min-height: 1px;}
* html .clearfix {height: 1px;}
img {border:none;}
a:link {TEXT-DECORATION: none;}
a:visited {TEXT-DECORATION: none;}
a:hover {TEXT-DECORATION: none;}
a:active {TEXT-DECORATION: none;}
ul,li{list-style-type: none;}
i{list-style:none;}

/*----------------public--------------------*/
.borderR{border-right:#ececec 1px solid;}
.flL{float:left;}
.flR{float:right;}
.clearFloat{clear:both; font-size:0; line-height:0;}
.cur{display:block; width:94px; height:85px; background:#00873b; color:#FFF !important;}
.cur_list{color:#FFF; display:block; width:283px; height:51px; background:url(../images/img/about_sidenavi_icon_on.png) no-repeat; background-position:95px 22px;}

/*----------------main----------------------*/
#head{width:1200px; margin:0 auto; background:#ffffff; border-top:3px solid #2a7b39;}
#head .head_top{width:1200px;  margin:0 auto; }
#head .head_top .head_logo{float:left; margin-top:10px;}
#head .head_top ul.navi{display:block; margin-top:10px; background:#2a7b39; width:1200px; height:45px;}
#head .head_top .cen{ float:left; margin-left:40px; width:292px; padding-top:20px;}
#head .head_top  .tel{  text-align:right; margin-bottom:8px; float:right;margin-top:10px;}
#head .head_top ul .tel h3{ display: inline; font-size:30px; line-height:50px; }
.head_top ul.navi li{display:block; float:left; width:148px; height:45px; font-size:15px; font-weight:bold; border-left:1px solid #ececec;background:#2a7b39; text-align:center;}
.head_top ul.navi li a{display:block; text-align:center; width:148px; height:45px; color:#ffffff; line-height:45px;}
.head_top ul.navi li a:hover{background:#00873b; color:#FFF;}

/*----------------banner---------------------*/
.index_banner{position:relative;height:313px; width:1200px; margin:0 auto; overflow:hidden;}
.index_banner li{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:313px;}
.index_banner li.first{background:url(../images/img/banner1.jpg) center top no-repeat;}
.index_banner li.second{background:url(../images/img/banner1.jpg) center top no-repeat;}
.index_banner li.third{background:url(../images/img/banner1.jpg) center top no-repeat;}
.index_banner li.fourth{background:url(../images/img/banner1.jpg) center top no-repeat;}
.index_banner li.fifth{background:url(../images/img/banner1.jpg) center top no-repeat;}
.index_banner li a{display:block;margin:0 auto;width:1000px;height:313px;}
.index_banner cite{position:absolute;bottom:5px;left:50%;z-index:999;display:block;margin-left:-144px;width:365px;height:15px;_display:none;}
.index_banner cite span{float:left;display:block;margin:0 4px;width:31px;height:11px; background:url(../images/img/banner_icon.png) no-repeat 0 0; text-indent:-999em;cursor:pointer;}
.index_banner cite span:hover{background:url(../images/img/banner_icon_on.jpg) no-repeat 0 0;}
.index_banner cite span.cur{background:url(../images/img/banner_icon_on.jpg) no-repeat 0 0;cursor:default;}

/*--------------------contentBody--------------------*/
#contentBody_index{width:1200px; margin:0 auto; background:url(../images/bg/bg_body_main.jpg) repeat-x left top; padding-top:38px;}
#contentBody{width:1200px; margin:0 auto; background:#f7f7f7; padding-top:38px;}

/*h3*/
h3{font-weight:normal;}
h3 span{display:block;}
h3 span.nameCN{color:#008248;font-size:24px; float:left; background:url(../images/img/h3_border.jpg) no-repeat left bottom; padding-left:20px;}
h3 span.nameEN{color:#cccccc;font-size:30px; margin-left:8px; float:left;}
h3 span.line{float:left; margin-left:25px; margin-top:8px;}
h3 span.more{float:right;}

/*pro_list*/
.pro_list{ width:1200px; height:328px; margin:0 auto; position:relative;}
div.indexmaindiv ul,li{list-style:none; background:#f7f7f7}
div.indexmaindiv{height:235px;margin:25px auto 0 auto;width:1200px; padding-top:5px; background:#f7f7f7 }
div.indexmaindiv1 div.playerdetail{width:283px;height:235px;font-family:'微软雅黑'; position:relative; background:#f7f7f7}
div.indexmaindiv1 div.playerdetail div.detailimg{width: 283px;height: 194px;display: table-cell;line-height:100px;text-align:center;vertical-align:middle;*display: block;*font-size:100px;margin-bottom:6px; background:#f7f7f7}
div.indexmaindiv1 div.playerdetail div.detailimg img{vertical-align:middle;width: 283px;height: 194px; max-width: 283px; max-height: 194px;}
div.indexmaindiv1 div.playerdetail div.teanames{text-align:center;font-size:12px;color:#FFF; line-height:40px;width:283px; height:41px;background:url(../images/bg/bg_pro_list.png) no-repeat 0 0; position:absolute; left:0; bottom:8px;}
div.teanames a{color:#FFF;}

div.indexmaindiv1 div.stylesgoleft{ position:absolute; left:-60px; bottom:140px; width:28px;height:50px; background:url(../images/img/pro_list_left.png) no-repeat 0 0;cursor:pointer; z-index:10;}
div.indexmaindiv1 div.stylesgoleft:hover{ position:absolute; left:-60px; bottom:140px; width:28px;height:50px; background:url(../images/img/pro_list_left_on.png) no-repeat 0 0;cursor:pointer; z-index:10;}
div.indexmaindiv1 div.playerdetail{width:172px;height:245px;background:#FFF;font-family:'微软雅黑';}
div.indexmaindiv1 div.stylesgoright{ position:absolute; right:-60px; bottom:140px; width:28px;height:50px; background:url(../images/img/pro_list_right.png) no-repeat 0 0;cursor:pointer; z-index:10;}
div.indexmaindiv1 div.stylesgoright:hover{ position:absolute; right:-60px; bottom:140px; width:28px;height:50px; background:url(../images/img/pro_list_right_on.png) no-repeat 0 0;cursor:pointer; z-index:10;}

/*滚动*/
div.maindiv1{float:left;width:1200px;height:235px; overflow:hidden; position:relative;}
div.maindiv1 ul{position:absolute;left:0;top:0; margin-left:12px;}
div.maindiv1 ul li{float:left;width:283px;height:235px; margin-right:15px;}

/*block2A*/
.block2A{width:1200px;margin:40px auto 84px auto;}
.block2AL{float:left; width:563px; }
.block2AR{float:right; width:563px;}
.news_content{margin-top:15px;}
.news_content li{ width:300px;border-bottom:1px #555555 dotted; height:26px; line-height:26px; background:none; color:#999999;background:url(../images/img/new_list_type.jpg) no-repeat 0 10px; text-indent:1em;}
.news_content li span{ float:right;}
.news_content li a{ color:#ffffff;}
.news_content li a:hover{ color:#996600}

.about_content{margin-top:15px;}
.title{  float:right; width:320px; padding-bottom:15px; }
.tit{color:#fff; font-size:16px; float:left;}
.txt{color:#FFF; float:right; width:320px; font-size:14px; line-height:30px; text-align:let;}
.txt a{text-decoration:none; color:#b6910f;}
.time{float:right; font-size:13px; color:#636363;}
.imgL{float:left; display:block; width: 215px;height: 172px;display: table-cell;line-height:172px;text-align:center;vertical-align:middle;*display: block;*font-size:172px; padding-right:25px;}
.block2B .block2ABR h3{margin-bottom:15px;}
.block2B{width:1200px; margin:0 auto;}
.block2BL{float:left; width:563px; }

/*-------------lbt----------------*/
.marqueeleft{height:172px;width:563px;overflow:hidden;margin:25px auto 0 auto;}
.marqueeleft ul{float:left;overflow:hidden;}
.marqueeleft li{float:left;margin:0 5px;display:inline;width:252px;height:172px; overflow:hidden;}

.marqueeleft li a{display:block;width: 252px;height: 172px;display: table-cell;line-height:172px;text-align:center;vertical-align:middle;*display: block;*font-size:18px;}
.marqueeleft li a img{vertical-align:middle; width:252px; height:172px; max-width: 252px; max-height: 172px;}
.marqueeleft li a:hover {display: block; position:relative;}
.marqueeleft li a:hover i{display:block;width:252px;height:172px; position:absolute; background:url(../images/bg/bg_case_1.png) transparent no-repeat 0 0;}
.marqueeleft li a i{display:none;}
.marqueeleft li a i:hover span{ color:#FFF; text-align:center; font-size:18px; cursor:pointer;}


.block2BR{float:right; width:563px; background:url(../images/img/bg_contact.jpg) no-repeat right; padding-bottom:25px;}
p.contact_tit{margin:28px 0 10px 0; font-size:18px;}
.block2BR p{margin-bottom:15px;}
.block2BR p a{text-decoration:none; color:#097bd3; cursor:pointer;}

/*-------------foot---------------*/
#foot{width:1200px; background:url(../images/bg/bg_foot.jpg) repeat-x 0 0; height:144px; margin:0 auto;}
#foot .footer{width:1186px; margin:0 auto; padding:38px 12px 0 2px;}
#foot .footer .foot_img{ display:block;float:left; padding-right:24px; width:96px; height:69px;}
#foot .footer .foot_txt{ display:block; float:left; width:550px; text-align:left; color:#ffffff; font-size:12px;}
#foot .footer .foot_logo{ display:block; float:right; width:95px; height:94px; margin-top:-40px; }

/*===================about=======================*/
.about_body{width:1200px; margin: 0 auto;}
.about_sideNaiv{width:283px; float:left;}
.about_main{width:880px; float:right;}
.about_sideNaiv .navi_tit{width:159px; height:65px; font-size:20px; color:#FFF; background:url(../images/img/navi_tit.jpg) no-repeat 0 0; line-height:65px; padding-left:124px; }
.about_sideNaiv ul.navi_list{ margin-bottom:10px;}

.about_sideNaiv ul.navi_list li{display:block; width:283px; height:53px; line-height:53px; text-align:center; background:url(../images/img/bg_about_sidenavi.jpg) no-repeat 0 0; }
.about_sideNaiv ul.navi_list li a{color:#aaaaaa; display:block; width:283px; height:51px; background:url(../images/img/about_sidenavi_icon.png) no-repeat; background-position:95px 22px;}
.about_sideNaiv ul.navi_list li a:hover{color:#FFF; display:block; width:283px; height:51px; background:url(../images/img/about_sidenavi_icon_on.png) no-repeat; background-position:95px 22px;}

/*jdt*/
.slide_x{overflow:hidden;position:relative;margin:8px auto;width:283px;height:235px;}
.slide_x a{color:#eee;text-decoration:none;}
.slide_x .box{overflow:hidden;position:relative;width:283px;height:235px;}
.slide_x .list{overflow:hidden;width:9999px;}
.slide_x .list li{float:left;position:relative;width: 283px;height: 235px;display: table-cell;line-height:235px;text-align:center;vertical-align:middle;*display: block;*font-size:235px;}
.slide_x .list li a{color:#FFF;}
.slide_x .list img{vertical-align:middle ;width: 283px;height: 235px; max-width: 283px; max-height: 194px;;}
.slide_x .list p{position:absolute;bottom:0px;left:0;width:262px;height:20px; background:url(../images/img/about_jdt_bg.png) no-repeat left top; padding:12px 11px 9px 10px; color:#FFF; font-size:15px; line-height:14px; text-align:center;}
.slide_x .minus{position:absolute;top:85px;width:40px;height:50px;background-image:url(../images/img/left_jdt_left.png);background-repeat:no-repeat;text-align:center;cursor:pointer;}
.slide_x .plus{position:absolute;top:85px; right:-15px;width:40px;height:50px;background-image:url(../images/img/left_jdt_right.png);background-repeat:no-repeat;text-align:center;cursor:pointer;}
h4{ display:block; width:820px; height:22px; padding:14px 30px 14px 30px; background:#eeeeee;}
h4 span{display:block; font-weight:normal;}
.h4_tit{font-size:15px; float:left; padding-left:20px; background:url(../images/img/bg_h4.png) no-repeat 0 0;}
.breadcrumb{float:right; font-size:12px;}
.breadcrumb a{color:#000;}
.breadcrumb font{color:#0f8d46;}
.about_textarea{padding:20px 35px 50px 35px; line-height:35px;}

/*=======================gbook=======================*/
.gbook_main{margin: 0 auto; width:820px; padding:25px 0 80px 0;  position:relative;}
.gbook_main input{width:232px; height:40px; border:#dddddd 1px solid;}
.gbook_main  textarea{width:583px; height:277px; border:#dddddd 1px solid;}
.gbook_main .gbook_icon{position:absolute; right:-1px; bottom:78px;}

#btn_1{width:112px; height:40px; background:#008248; color:#FFF; font-size:18px; cursor:pointer; font-family:"微软雅黑"}
#btn_2{width:112px; height:40px;background:#cccccc; color:#FFF; font-size:18px;cursor:pointer; font-family:"微软雅黑"}
/*===================products_shou=====================*/
.pro_list_main{width:880px; margin:0 auto; padding:30px 0 0px 0;}
.pro_main{float:left; width:283px; height:221px; margin:0 5px 25px 5px;}
.pro_main .pro_img{ display:block; width: 283px;height: 194px;display: table-cell;line-height:100px;text-align:center;vertical-align:middle;*display: block;*font-size:100px; }
.pro_img img{vertical-align:middle;width: 283px;height: 194px; max-width: 283px; max-height: 194px;}
.pro_txt{text-align:center; font-size:15px; margin-top:5px;}
.pro_txt a{color:#666666;}
.btn_list{display:block; width:280px; margin:35px auto 40px auto; }
.btn_list li{display:block; float:left; width:33px; height:33px; background:url(../images/img/pro_btn_list_bg.jpg) no-repeat center ; margin-right:5px;}
.btn_list li a{display:block; width:33px; height:33px; text-align:center; vertical-align:middle; font-size:14px; color:#888888; line-height:33px;}
.btn_list li a img{ margin-top:7px;}
.btn_list li a:hover{background:#008248; color:#FFF;}

/*=======================gbook-con======================*/
.address{width:815px; margin:0 auto; padding-top:30px; margin-bottom:200px;}
.map{display:block; width:485px; float:left;}
.address_content .address_tit{font-size:18px;}
.address_content{float:right; width:295px;}
.address_content p{ font-size:14px; margin-bottom:10px;}
.address_content p a{ color:#1983d5;}

/*========================new_list=====================*/
.news_list{display:block; width:880px; padding-top:10px;}
.news_list li{ display:block; height:16px; padding:20px 32px 17px 27px; clear:both;}
.news_list li span{font-size:14px; }
.news{float:left; padding-left:20px; background:url(../images/img/new_list_type.jpg) no-repeat left center;}
.news a{ color:#666666;}
.time{ float:right; color:#cccccc; }



/*===============products_shouw,case_shouw==========*/

.show{padding:20px 20px 20px 20px; width:840px;}
.show_tit{font-size:18px; font-weight:bold; text-align:center; margin-bottom:5px;}
.show_txt{font-size:12px ;text-align:center; margin-bottom:10px;}
.show_main{ width:840px; padding:20px 0 30px 0; border-top:1px solid #c4c4c4; border-bottom:4px solid #c4c4c4;}
.page{width:840px; margin:0 auto;}
.page_top a ,.page_down a{color:#000000;}

DIV.sabrosus {MARGIN: 3px; TEXT-ALIGN: center;clear:both; padding:21px 0 29px 0; clear:both;font-family:Microsoft YaHei;}
DIV.sabrosus A:link,DIV.sabrosus A:visited { padding:7px 12px;color:#333; text-align:center;MARGIN-RIGHT: 2px;TEXT-DECORATION: none; BACKGROUND-COLOR:#FFF; border:1px solid #E5E5E5;}
DIV.sabrosus A:hover {text-decoration: underline; color:#333}
DIV.sabrosus SPAN.current {padding:7px 12px; background:#008248; color:#FFF;border:1px solid #E5E5E5;}
DIV.sabrosus SPAN.disabled {padding:7px 12px;MARGIN-RIGHT: 2px;border:1px solid #E5E5E5;}